h1 {
	font-family: Helvetica;
	font-size: 100px;
	font-weight: bold;
	color: Khaki;
	text-align: center;
	background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg")
}

h2 {
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
	color: white;
}

.price {
	color: blue;
	font-family: Helvetica;
	font-weight: bold;
}

h4 {
	font-weight: bold;
}

.brushes h2{
	background-color: mediumspringgreen;
}

.Frames h2 {
	background-color: lightcoral;
}

.Paint h2 {
	background-color: skyblue;
}